.board {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 39vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.board .piece {
    width: 13vw;
    height: 13vw;
    padding: 20px;
    border: 0.25px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    color: #3d4849;
}
.board .piece.combo {
    background-color: green;
}
.board .piece.combo-red {
    background-color: red;
}
.info {
    height: 10vh;
    margin: 0;
    color: #3d4849;
}

.copy {
    display: flex;
    justify-content: center;
    list-style: none;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.tag .t-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
