.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.grid .item {
    width: 50%;
    border: 0.25px black solid;
    display: flex;
    color: #3d4849;
    padding: 2rem;
    text-decoration: none;
    margin: 0.5rem;
}

.grid .item.combo {
    background-color: green;
}
.grid .item.combo-red {
    background-color: red;
}
.grid .item.combo-draw {
    background-color: orange;
}
.grid .item ul {
    list-style-type: none;
}
