.selection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection select,
.selection input,
.selection label {
    padding: 0.5em;
    margin-left: 1em;
}

.play {
    padding: auto;
}
