.App {
    text-align: center;
}

.App-header {
    height: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vw);
    color: white;
    background-color: #282c34;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    padding: 1rem;
    font-size: 1.5rem;
}
